body {
    background-color: #b0e0e6;
}

.body {
    color: #6d6d6d;
    padding-left: 10px;
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    text-align: center;
    background-color: #FFF;
}

.title {
    align-content: center;
    font-size: 32px;

}

.list {
    color: #000;
    font-size: 14px;
    text-align: start;
}

.add-item {
    input {
        border: none;
        border-bottom: grey solid 1px;
        margin-right: 10px;
        font-size: 16px;
    }

    button {
        border: none;
        color: white;
        padding: 10px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        background-color: #367e9a;
  }
}
